/* Poppins */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

/* Solway */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Solway-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Solway-Regular.ttf') format('truetype');
}