$background: #FFFFFF;


$teacher: #2756A2;
$student: #3F2E75;

// $primary: #1A7CC3;
// $primary: #2756A2;

// $secondary: #FDC840;
$secondary: #C6CBD9;

$accent: #FDC840;

$text: #000000;

$font-text: 'Poppins', sans-serif;
$font-title: 'Solway', sans-serif;

$font-text-weight: 400;
$font-title-weight: 700;